@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import "./styles/reset.css";

:root {
  /* typefaces */
  --satisfy: "Satisfy", cursive;
  --workSans: "Work sans", sans-serif;
  /* theme colours */
  --sunsetPink: rgb(250, 112, 154);
  --sunriseYellow: rgb(254, 225, 64);
  --sunsetGradient: linear-gradient(
    to right,
    var(--sunsetPink) 0%,
    var(--sunriseYellow) 100%
  );
  /* neutral colours */
  --grey: rgb(68, 68, 68);
  --white: rgb(255, 255, 255);
  /* layout variables */
  --border: 2px solid var(--grey);
  --componentSpacing: 24px;
  --inputPadding: 8px 12px;
}

body {
  background-image: var(--sunsetGradient);
}

.dusk-to-dawn {
  color: var(--grey);
  font-family: var(--satisfy);
  font-size: 16px;
  margin: 0 auto;
  padding: 12px 6px;
  text-align: center;
  width: 95%;
}

.component {
  margin-bottom: var(--componentSpacing);
}

.primary-heading {
  font-size: 1.8rem;
}

.sub-heading {
  font-size: 1.4rem;
}

.input-label,
.input-field,
.geolocate-control {
  display: block;
  margin: 0 auto var(--componentSpacing);
  width: 80%;
}

.input-label {
  font-size: 1.2em;
}

.input-field {
  border: var(--border);
  color: var(--grey);
  font: var(--satisfy);
  padding: var(--inputPadding);
}

.geolocate-control {
  background-color: var(--white);
  border: var(--border);
  color: var(--grey);
  cursor: pointer;
  font-family: var(--satisfy);
  font-size: 1.2rem;
  padding: var(--inputPadding);
  text-align: center;
  text-decoration: none;
}

.field-divider {
  font-style: italic;
  margin-bottom: var(--componentSpacing);
}

.response {
  display: flex;
  justify-content: space-between;
}

.response-section-heading {
  font-size: 1.2em;
  margin-bottom: calc(var(--componentSpacing) / 2);
}
.response-section-image {
  margin-bottom: calc(var(--componentSpacing) / 2);
  width: 100px;
}

.attribution {
  border-top: var(--border);
  margin-top: calc(var(--componentSpacing) * 2);
  padding-top: 5px;
}

@media screen and (min-width: 600px) {
  .dusk-to-dawn,
  .input-label,
  .input-field,
  .geolocate-control {
    width: 60%;
  }
}
